* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

:root {
    --color-primary: #15803D;
    --color-secondary: #16A34A;
    --color-accent: #049271;

    --gradient-green: linear-gradient(to top right, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-accent) 100%);
    --gradient-accent: linear-gradient(to top right, var(--color-secondary) 0%, var(--color-accent) 100%);

    --container-padding: 2rem;
}

body {
    background-color: #f4f4f9;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    overflow-x: hidden;
    min-height: 100vh;
}