.stock-placeholder {
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

h1 {
  color: #10b981;
  font-size: 4rem;
  margin-bottom: 1rem;
}